body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.badge-border {
  border: solid black;
  border-radius: 10px;
  height: 369px;
  width: 415px;
  padding: 22px;
}

.new-input {
  margin: 17px;
}

.textarea-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

textarea {
  height: 154px;
  width: 273px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.final-badge-container {
  display: flex;
  justify-content: center;
}

.final-badge-border {
  border: solid black;
  border-radius: 10px;
  height: 369px;
  width: 499px;
  margin: 20px 0 0 0;
}

p {
  margin: 20px;
}

.badge-header {
  background-color: grey;
  height: 19px;
  padding: 10px;
}
